body {
    margin: 0;
}
.container {
    max-width: 1000px;
    margin:auto;
}

ul {
    padding-left: 0;
}

thead {
    background-color: aqua;
}
th {
    color: white;
    padding: 0;
}

td {
    width: 25%;
}

td.lungo {
    width: 50%;
}

.prima, .terza {
    background-color: lightskyblue;
}