body {
    margin: 0;
}
.container {
    max-width: 1000px;
    margin:auto;
}

ul {
    padding-left: 0;
}

thead {
    background-color: aqua;
}
th {
    color: white;
    padding: 0;
}

td {
    width: 25%;
}

td.lungo {
    width: 50%;
}

.prima, .terza {
    background-color: lightskyblue;
}

.proposta1, .proposta2 {
    height:150px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
}

.proposta1 {
    background-image: url('../img/monitor.jpg');
    margin-bottom: 10px;
}
.proposta2 {
    background-image: url('../img/graph.jpg');
}

span {
    background-color: yellow;
}